<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Elige tipo de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-item href="login">
      <ion-card-header>
        <ion-card-subtitle>LOG-IN</ion-card-subtitle>
        <ion-card-title>Pasajero</ion-card-title>
        <ion-card-title><ion-icon name="person-outline"></ion-icon></ion-card-title>
      </ion-card-header>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-card-content>
        Selecciona aqui para acceder como pasajero.
      </ion-card-content>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item href="login-conductor">
      <ion-card-header>
        <ion-card-subtitle>LOG-IN</ion-card-subtitle>
        <ion-card-title>Conductor</ion-card-title>
        <ion-card-title><ion-icon name="car-outline"></ion-icon></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Selecciona aqui para acceder como conductor.
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>