<ion-menu side="start" menuId="segundoMenu" contentId="secundario" mode="ios">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list mode="ios">

      <ion-item href="/opcion-conductor">
        <ion-icon name="person-circle-outline"></ion-icon>
        &nbsp;
        Perfil
      </ion-item>

      <ion-item href="/cartera">
        <ion-icon name="wallet-outline"></ion-icon>
        &nbsp;
        Cartera
      </ion-item>

      <ion-item href="/lista-movimientos">
        <ion-icon name="car-sport-outline"></ion-icon>
        &nbsp;
        Mis Viajes
      </ion-item>

      <ion-item href="/configuracion">
        <ion-icon name="construct-outline"></ion-icon>
        &nbsp;
        Configuracion
      </ion-item>

      
    </ion-list>
  </ion-content>
</ion-menu>
