<ion-header mode="ios">
  
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs2"></ion-back-button>
    </ion-buttons>
  <img width="80" height="80" src="../../assets/img/Logo.JPG">
</ion-toolbar>

</ion-header>

<ion-content mode="ios">
  <ion-list>
    <ion-card>
      <ion-item href="/chat-pasajero">
        <ion-avatar slot="start">
          <img src="../../assets/img/avatar2.PNG">
        </ion-avatar>
        <div>
          <ion-card-header>
            <ion-card-subtitle>Pepe Gonzalez</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Hola buenas, estaria interesado en la plaza disponible para ir a la uni durante todo el mes,
            Un saludo.
          </ion-card-content>
        </div>
      </ion-item>
    </ion-card>
    
    <ion-card>
      <ion-item href="/chat-pasajero">
        <ion-avatar slot="start">
          <img src="../../assets/img/avatar3.PNG">
        </ion-avatar>
        <div>
          <ion-card-header>
            <ion-card-subtitle>Javier Lopez</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Hola, me gustaria saber si podrias salir mañana 10 minutos antes por que tengo examen a las 8:30.
          </ion-card-content>
        </div>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item href="/chat-pasajero">
        <ion-avatar slot="start">
          <img src="../../assets/img/avatar4.PNG">
        </ion-avatar>
        <div>
          <ion-card-header>
            <ion-card-subtitle>Manuel Garcia</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Buenas, quedan libres un par de plazas en tu coche para el jueves? Un saludo.
          </ion-card-content>
        </div>
      </ion-item>
    </ion-card>
    
  </ion-list>
  <ion-button color="danger" href="tabs2" mode="ios" expand="block">Volver atras</ion-button>

</ion-content>
