
<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs2/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Vehiculos</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-icon name="car-outline"></ion-icon>
      <ion-card-subtitle>Marca y Modelo:</ion-card-subtitle>
      <ion-card-title>Seat Ibiza</ion-card-title>
      <ion-card-subtitle>Matricula:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      2456LMN <ion-icon name="checkmark-outline"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-card-subtitle>Marca y Modelo:</ion-card-subtitle>
      <ion-card-title>Audi Q3</ion-card-title>
      <ion-card-subtitle>Marca y Modelo:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      3578JPC
    </ion-card-content>
  </ion-card>
  <p><a href="nuevocoche">+ Añadir nuevo vehiculo</a></p>
</ion-content>