<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi Mapa
    </ion-title>
    <img width="70" height="70" src="../../assets/img/Logo.JPG" slot="end">
  </ion-toolbar>

  <link href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="myMap" style="width: 100%; height: 90%"></div>
  <br>
  <ion-buttons>
    
    <ion-button (click)="presentAlert()" slot="end" expand="block">
      Lista de Conductores
    </ion-button>

  </ion-buttons>
  
</ion-content>