<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuracion"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar constraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-item>
    <ion-label position="floating">Contraseña<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" show-hide-input></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nueva Contraseña<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" show-hide-input></ion-input> 
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar Contraseña<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="password" show-hide-input></ion-input> 
  </ion-item>

  <ion-button (click)="presentAlert()" mode="ios" expand="block">Confirmar</ion-button>

</ion-content>
