<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mapa-conductor"></ion-back-button>
    </ion-buttons>
    Perfil
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  
  <ion-card>
    <img src="../../assets/img/avatar6.PNG">
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Javier</ion-card-title>
      <br>
      <ion-card-title>Martinez Sanchez</ion-card-title>
      <br>
      <ion-card-subtitle>javier.martinez32@hotmail.com</ion-card-subtitle>
      <br>
      <ion-card-subtitle>Telefono: 697 634 677</ion-card-subtitle>
      <br>
      <ion-card-subtitle>Fecha de nacimiento: 26 de Septiembre del 1999</ion-card-subtitle>
    </ion-card-content>

  </ion-card>
  

</ion-content>