<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    Perfil
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  
  <ion-card>
    <img src="../../assets/img/avatar6.PNG">
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Juan Jose</ion-card-title>
      <br>
      <ion-card-title>Suarez Garcia</ion-card-title>
      <br>
      <ion-card-subtitle>juanjo.suarez@gmail.com</ion-card-subtitle>
      <br>
      <ion-card-subtitle>Telefono: 678 634 333</ion-card-subtitle>
      <br>
      <ion-card-subtitle>Fecha de nacimiento: 3 de Abril del 1996</ion-card-subtitle>
    </ion-card-content>

  </ion-card>
  

</ion-content>