<!DOCTYPE html>
<html lang="en">
  <ion-app>
<ion-header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@next/dist/ionic/ionic.js"></script>
  <style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }

  </style>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cartera"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar dinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-radio-group allow-empty-selection value="anchovies">
      <ion-list-header>
        <ion-label>Dinero a ingresar</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>05</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>10</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>15</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>20</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>25</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>50</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>100</ion-label>
        <ion-radio slot="end" color="success"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin"(click)="presentAlert()">Ingresar dinero</ion-button>
  </div>
</ion-content>
  </ion-app>
</html>